@import './../tools/_variables.scss';
@import './../tools/_mixins.scss';

.page__body {
  margin: 0;
  
  min-width: $mobile-width;
  max-width: 100%;
  
  font-family: 'PT Sans Narrow', 'arial', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
 
  background-color: $bg-color-2;

  overflow: hidden;
}