@import './../tools/_variables';
@import './../tools/_mixins';


//  palette | grey colors
$palette-2-color-1: $palette-2-color-1; // #252525;
$palette-2-color-2: $palette-2-color-2; // #292929;
$palette-2-color-3: $palette-2-color-3; // #353535;
$palette-2-color-4: $palette-2-color-4; // #3F3F3F;
$palette-2-color-5: $palette-2-color-5; // #4E4E4E;
$palette-2-color-6: $palette-2-color-6; // #777777;

$color-title: white;
$color-background: $palette-2-color-3;

.stats__wrapper {
  @include wrapper;
}

.stats__header {
  padding: 28px 20px;

  background-color: white;
}

.stats__title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 700;

  color: black;
}

.stats__intro {
  margin: 0;

  font: 20px;
  font-height: 27px;
}

.stats__legend {
  display: none;

  font-size: 20px;
  line-height: 20px;
  color: black;

  opacity: .3;
}

.stats__list {
  margin: 0;

  display: flex;
  flex-direction: column;
  color: white;
}

.stats__item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 20px;
}

.stats__item:nth-child(1) {
  background-color: #3F3F3F;
}
.stats__item:nth-child(2) {
  background-color: #4D4D4D;
}
.stats__item:nth-child(3) {
  background-color: #353535;
}
.stats__item:nth-child(4) {
  background-color: #4D4D4D;
}

.stats__field {
  text-align: right;

  font-weight: 400;
  line-height: 18px;
}

.stats__value {
  margin-left: 0;

  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}

@media (max-width: $mobile-width-only) {
  .stats__legend {
    text-align: center;

    color: white;
  }

  .stats__legend--bottom {
    margin: 0;

    display: block;
    padding: 20px 0;

    background-color: #242424;
    opacity: 1;
  }

  .stats__header {
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .stats__wrapper {
    margin-top: -186px;
  }

  .stats__header {
    padding: 32px 34px 32px 30px;

    display: flex;
    flex-wrap: wrap;
  }

  .stats__title {
    margin-bottom: 24px;

    box-sizing: border-box;
    width: 50%;

    font-size: 40px;
    line-height: 40px;
  }

  .stats__intro {
    box-sizing: border-box;

    width: 50%;
    padding-left: 34px;
    font-size: 20px;
    line-height: 27px;
  }

  .stats__intro br {
    display: none;
  }

  .stats__legend {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .stats__list {
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #353535;
  }

  .stats__item {
    flex-direction: column-reverse;

    width: 50%;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .stats__field {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .stats__field br {
    display: none;
  }

  .stats__value {
    margin-bottom: 12px;

    font-size: 72px;
    line-height: 72px;
  }

  .stats__item:nth-child(1) {
    background-color: #3F3F3F;
  }
  .stats__item:nth-child(2) {
    background-color: #4E4E4E;
  }
  .stats__item:nth-child(3) {
    background-color: #353535;
  }
  .stats__item:nth-child(4) {
    background-color: #3F3F3F;
  }

  .stats__legend--top {
    display: block;
  }
}


@media (min-width: $desktop-width) {
  .stats__wrapper {
    margin-top: -161px;

    display: flex;
  }

  .stats__header {
    width: 34%;
    padding-right: 0;

    flex-direction: column;
  }

  .stats__title {
    width: 100%;
    padding-right: 85px;
    margin-bottom: 38px;
  }

  .stats__intro {
    width: 100%;
    padding-left: 0;
    padding-right: 85px;
    margin-bottom: auto;
  }

  .stats__intro br {
    display: none;
  }

  .stats__list {
    width: 66%;
  }
}
