@font-face {
  font-family: 'PT Sans Narrow';
  src: url('ptsansnarrow-bold.woff2') format('woff2'),
       url('ptsansnarrow-bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url('ptsansnarrow-regular.woff2') format('woff2'),
       url('ptsansnarrow-regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}