$desktop-width: 1200px;

$tablet-width-only: 1199px;
$tablet-width: 768px;

$mobile-width-only: 767px;
$mobile-width: 320px;

// --

//  background-colors
$bg-color-1: #353535;
$bg-color-2: #F8F5F2;

//  palette | brown colors
$palette-1-color-1: #624530;
$palette-1-color-2: #6A4D38;
$palette-1-color-3: #71543F;
$palette-1-color-4: #755A46;
$palette-1-color-5: #826550;
$palette-1-color-6: #886E5B;

//  palette | grey colors
$palette-2-color-1: #252525;
$palette-2-color-2: #292929;
$palette-2-color-3: #353535;
$palette-2-color-4: #3F3F3F;
$palette-2-color-5: #4E4E4E;
$palette-2-color-6: #777777;
